<h1>Invite New Member to <%= @group.name %></h1>
<div>
  <%= form_tag( new_group_group_user_path(@group), method: :get) do %>
    <input name="keyword" placeholder="Search User by Name" type="text">
      <button title="Search" type="submit">Search</button>
    </input>
  <% end %>
</div>

<div>
  <!-- 検索でヒットしたユーザーに対してeach回す -->
  <% User.searched_by_name(params[:keyword]).each do |user| %>
    <div>
      <%= user.username %>
      <!-- すでに参加していたら「参加していますと表示」 -->
      <% if @group.joined_by_this_user?(user) %>
        <span>already joined</span>
      <!-- まだ参加していなければ招待のボタンを表示 -->
      <% else %>
        <%= button_to 'Invite', group_group_users_path(user_id: user.id, group_id: @group.id) %>
      <% end %>
    </div>
  <% end %>
</div>
