<h1><%= @group.name %>にメンバーを追加</h1>
<div>
  <%= form_tag( new_group_group_user_path(@group)) do %>
    <input name="keyword" placeholder="ユーザーを名前で検索" type="text">
      <button title="検索" type="submit">
      </button>
    </input>
  <% end %>
</div>

<div>
  <% User.searched_by_name(params[:keyword]).each do |user| %>
    <div>
      <%= user.username %>
      <% if @group.is_joined_by_a_specific_user?(user) %>
        <span>すでに参加しています</span>
      <% else %>
        <%= button_to '招待する', group_group_users_path(user_id: user.id, group_id: @group.id) %>
      <% end %>
    </div>
  <% end %>
</div>
