<div class='article-tabs'>
  <%= link_to "New Arrivings", :root, method: :get, class: 'article-tab' %>
  <%= link_to "Tags", tags_path,method: :get, class: 'article-tab' %>
  <%= link_to "Groups", groups_path, method: :get, class: 'article-tab' %>
</div>
