<div class='comment-form'>
  <div class='comment'>
    <div class='comment-user'>
      <div class='comment-user__image'>
      </div>
      <div class='comment-user__name'>
        <%= current_user.username %>
      </div>
    </div>
    <div class='comment-body'>
      <%= form_for [article, comment], remote: true do |f| %>
        <%= f.text_area :body,
          placeholder: 'write comment',
          rows: 5,
          class: 'new_comment__textarea'
        %>
        <%= f.submit "submit", class: 'new_comment__submit' %>
      <% end %>
    </div>
  </div>
</div>
