<% comments.each do |comment| %>
  <div class='comment'>
    <div class='comment__body'>
      <%= comment.body %>
    </div>
    <%= link_to "Edit", article_path(article, comment_id: comment.id) %>
    <%= link_to "Delete", article_comment_path(article, comment), method: :delete %>
    <%= render partial: "articles/comment_like", locals:  { article: article, comment: comment }  %>
  </div>
<% end %>
