<% if keyword.nil? %>
  <h3>Timeline</h3>
<% elsif keyword.empty? %>
  <h3>Searching Form is empty...</h3>
<% else %>
  <h3>Search Result</h3>
<% end %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Contributer</th>
      <th>Statement</th>
    </tr>
  </thead>

  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td><%= article.user.username %></td>
        <td>
          <% unless article.group_id == MASTER_GROUP_ID %>
            in <%= link_to article.group.name, article.group %>
          <% else %>
            Public
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
