<div class='searched-articles-container'>
  <div class='searched-articles'>
    <% articles.each do |article| %>
      <div class='searched-article'>
        <div class='searched-article__image'>
          <!-- ここに画像入れる -->
        </div>
        <div class='searched-article__body'>
          <div class='searched-article__body__header'>
            <span class='searched-article__username'>
              by <%= link_to article.user.username, user_path(article.user) %>
            </span>
          </div>
          <span class='searched-article__title'>
            <%= link_to article.title, article_path(article) %>
          </span>
          <!-- groupの性質によってstyleを分ける -->
          <% if article.group.private == true %>
            <span class='searched-article__statement' style='background-color: rgb(213, 153, 69);'>
              <%= link_to article.group.name, article.group, class: 'searched-article__statement__link' %>
            </span>
          <% elsif article.group_id == MASTER_GROUP_ID %>
            <span class='searched-article__statement' style='background-color: rgb(51, 191, 101);'>
              Public
            </span>
          <% else %>
            <span class='searched-article__statement' style='background-color: rgb(91, 192, 222);'>
              <%= link_to article.group.name, article.group %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
