<div class='contents-container'>
  <div class='contents'>
    <% articles.each do |article| %>
      <div class='content'>
        <div class='content__header'>
          <span class='content__username'>
            by <%= link_to article.user.username, user_path(article.user) %>
          </span>
        </div>
        <div class='content__body'>
          <span class='content__title'>
            <%= link_to article.title, article_path(article) %>
          </span>
          <!-- groupの性質によってstyleを分ける -->
          <% if article.group.private == true %>
            <span class='content__statement' style='background-color: rgb(213, 153, 69);'>
              <%= link_to article.group.name, article.group %>
            </span>
          <% elsif article.group_id == MASTER_GROUP_ID %>
            <span class='content__statement' style='background-color: rgb(51, 191, 101);'>
              Public
            </span>
          <% else %>
            <span class='content__statement' style='background-color: rgb(91, 192, 222);'>
              <%= link_to article.group.name, article.group %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
