<div class='top-tabs'>
  <%= link_to "Timeline", :root, method: :get, class: 'top-tab' %>
  <%= link_to "Tags", tags_path,method: :get, class: 'top-tab' %>
  <%= link_to "Groups", groups_path, method: :get, class: 'top-tab' %>
</div>
