$(function(){
  marked.setOptions({
    langPrefix: '',
    sanitize: true,
  });
  $("#article_body").keyup(function() {
    var src = $(this).val();
    var preview = marked(src);
    $("#preview--container").html(`<div>${preview}</div>`);
    $('pre code').each(function(i, e) {
      hljs.highlightBlock(e, e.className);
    });
  });
});
