/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.clearfix:after {
   content: "";
   display: block;
   clear: both;
 }

#header-container {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 #header {
   background-color: #c16;
   height: 60px;
   margin: 0;
   min-width: 600px;
   .header--left {
     height: 50px;
     float: left;
     line-height: 50px;
     padding: 5px 0 5px 10px;
   }
   .header--right {
     height: 60px;
     float: right;
     line-height: 60px;
     padding-right: 10px;
     .header__link {
       border: 2px solid #fff;
       border-radius: 5px;
       color: #fff;
       display: inline-block;
       height: 30px;
       line-height: 30px;
       text-align:center;
       vertical-align: middle;
       width: 150px;
     }
     .header__link:visited {
       color: #fff;
       text-decoration: none;
     }
   }
 }
}

#container {
  padding-top: 60px;
  height: calc(100% - 60px);
  #messages {
    text-align: center;
    height: 30px;
    width: 100%;
    .notice {
      margin: 0;
      padding: 0;
    }
    .alert {
      margin: 0;
      padding: 0;
    }
  }
}
