// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// tabのstyle
.top-tabs {
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 100%;
  .top-tab {
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    margin: auto 40px;
    padding: 10px;
    vertical-align: middle;
  }
  .top-tab:hover {
    background-color: #c16;
    color: #fff;
  }
  .top-tab:visited {
    color: #000;
  }
}

// indexのstyle
.title-container {
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 20px auto 10px;
  .tab-title {
    font-size: 30px;
    font-weight: bold;
  }
}
.form-container {
  margin: 10px auto;
  .searching__form{
    text-align: center;
    width: 100%;
    .searching__keyword {
      height: 40px;
      border: 2px solid #ddd;
      border-radius: 5px;
      font-size: 20px;
      padding-left: 10px;
      width: 60%;
    }
    .searching__submit {
      background-color: #c16;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 15px;
      height: 30px;
      text-align: center;
      width: 100px;
    }
  }
}
.searched-results {
  .searched-articles-container{
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 20px;
    width: 80%;
    .searched-articles {
      .searched-article {
        border-top: 2px solid #ddd;
        height: 65px;
        margin: auto 10px;
        width: 100%;
        .searched-article__image {
          border-radius: 5px;
          background-color: purple;
          display: inline-block;
          height: 55px;
          vertical-align: middle;
          width: 55px;
        }
        .searched-article__body {
          display: inline-block;
          margin-left: 20px;
          vertical-align: middle;
          .searched-article__body--header {
            font-size: 15px;
          }
          .searched-article__title {
            display: inline-block;
            font-size: 25px;
            vertical-align: middle;
          }
          .searched-article__statement {
            border-radius: 3px;
            display: inline-block;
            color: #fff;
            font-size: 15px;
            padding: 5px;
            vertical-align: middle;
            .searched-article__statement__link:visited {
              color: #fff;
            }
          }
        }
      }
      .searched-article:first-child {
        border: none
      }
    }
  }
}

// showのstyle
.article {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  width: calc(90% - 40px);
  .article-header {
    .article-user__image {
      background-color: purple;
      border-radius: 5px;
      height: 50px;
      display: inline-block;
      vertical-align: top;
      width: 50px;
    }
    .article__information {
      display: inline-block;
      height: 50px;
      margin-left: 10px;
      vertical-align: top;
      .article__user-name {
        font-size: 25px;
      }
      .article__updated-at {
        font-size: 15px;
      }
    }
    .article__header--right {
      display: inline-block;
      float: right;
      height: 50px;
      line-height: 50px;
      .article__stock-button {
        background-color: #fff;
        border: 2px solid #ddd;
        border-radius: 10px;
        display: inline-block;
        font-size: 13px;
        height: 40px;
        width: 100px;
      }
      .article__edit-button {
        display: inline-block;
      }
      .article__delete-button {
        display: inline-block;
      }
    }
  }
  .article-main {
    .article__title {
      font-size: 40px;
      font-weight: bold;
      margin-top: 10px;
    }
    .article__body {
      font-size: 25px;
      margin-top: 30px;
    }
  }
  .article-footer {
    margin-top: 20px;
  }
}

.comments-container {
  width: 80%;
  margin: 0 auto;
  .comment {
    margin: 30px auto 10px;
    .comment-user {
      .comment-user__image {
        background-color: purple;
        border-radius: 5px;
        display: inline-block;
        height: 35px;
        margin-left: 10px;
        vertical-align: middle;
        width: 35px;
      }
      .comment-user__name {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        vertical-align: middle;
      }
    }
    .comment--right {
      float: right;
      text-align: right;
      .comment__buttons {
        .comment__button {
          display: inline-block;
          font-size: 12px;
        }
      }
      .comment__updated-at {
        font-size: 12px;
      }
    }
    .comment-body {
      border: 1px solid #ddd;
      border-radius: 5px;
      margin: 5px auto;
      padding: 10px 20px;
      .comment__sentence {
        font-size: 20px;
      }
    }
  }
  .comment-form {
    .comment-body {
      font-size: 25px;
      .new_comment {
        text-align: center;
        .new_comment__textarea {
          border: 2px solid #ddd;
          border-radius: 5px;
          font-size: 15px;
          padding: 10px;
          width: calc(100% - 20px);
        }
        .new_comment__submit {
          background-color: #c16;
          border: 2px solid #fff;
          border-radius: 5px;
          color: #fff;
          display: inline-block;
          font-size: 15px;
          font-weight: bold;
          padding: 10px 20px;
          text-align:center;
        }
      }
    }
  }
}

// show・editのstyle
.article-editor {
  height: 100%;
  margin: 0 10px;
  position: fixed;
  width: calc(100% - 20px);
  .article-editor__thin-form {
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    height: 36px;
    padding-left: 10px;
    width: 100%;
  }
  .article-editor__tags {
    margin-top: 5px;
  }
  .article-editor__bodies {
    height: calc(100% - 220px);
    margin: 5px 0 0;
    width: 100%;
    .article-editor__body {
      border: 2px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      height: 100%;
      text-align: center;
      margin-right: 10px;
      vertical-align: top;
      width: calc(50% - 20px);
      .article-editor__body__form {
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 20px;
        height: 100%;
        margin: 0;
        padding: 10px;
        width: 100%;
      }
    }
    .article-editor__preview {
      border: 2px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      font-size: 20px;
      height: calc(100% - 20px);
      overflow: scroll;
      padding: 10px;
      vertical-align: top;
      width: calc(50% - 20px);
      * {
        margin: 0;
      }
    }
  }
  .article-editor__submit {
    height: 60px;
    line-height: 60px;
    text-align: right;
    width: 100%;
    .article-editor__submit-button {
      background-color: #c16;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 15px;
      height: 45px;
      margin-right: 60px;
      width: 140px;
    }
  }
}
