// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// indexのstyle
.title-container {
  text-align: center;
  margin: 20px auto 10px;
  height: 30px;
  line-height: 30px;
  .tab-title {
    font-size: 30px;
    font-weight: bold;
  }
}
.form-container {
  margin: 10px auto;
  .searching-form{
    width: 100%;
    text-align: center;
    #keyword {
      width: 60%;
      height: 40px;
      border: 2px solid rgb(221, 221, 221);
      border-radius: 5px;
      font-size: 20px;
      padding-left: 10px;
    }
    input[type='submit'] {
      background-color: rgb(204, 25, 106);
      border: none;
      border-radius: 5px;
      color: rgb(255, 255, 255);
      font-size: 15px;
      height: 30px;
      text-align: center;
      width: 100px;
    }
  }
}
.searched-results {
  .contents-container{
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 10px 20px;
    .contents {
      .content {
        border-top: 2px solid rgb(221, 221, 221);
        height: 65px;
        width: 100%;
        margin: auto 10px;
        .content__image {
          border-radius: 5px;
          height: 55px;
          width: 55px;
          background-color: purple;
          display: inline-block;
          vertical-align: middle;
        }
        .content__body {
          display: inline-block;
          .content__title {
            font-size: 25px;
          }
          .content__statement {
            border-radius: 3px;
            height: 25px;
            font-size: 15px;
            color: rgb(255, 255, 255);
            padding: 5px;
            a:visited {
              color: rgb(255, 255, 255);
            }
          }
        }
      }
      .content:first-child {
        border: none
      }
    }
  }
}

// showのstyle
.article {
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px;;
}
