// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// tagのstyle
.top-tabs {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  .top-tab {
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: auto 40px;
    padding: 10px;
    vertical-align: middle;
  }
  .top-tab:hover {
    background-color: rgb(204, 25, 106);
    color: rgb(255, 255, 255);
  }
  .top-tab:visited {
    color: rgb(0, 0, 0);
  }
}

// indexのstyle
.title-container {
  text-align: center;
  margin: 20px auto 10px;
  height: 30px;
  line-height: 30px;
  .tab-title {
    font-size: 30px;
    font-weight: bold;
  }
}
.form-container {
  margin: 10px auto;
  .searching-form{
    width: 100%;
    text-align: center;
    #keyword {
      width: 60%;
      height: 40px;
      border: 2px solid rgb(221, 221, 221);
      border-radius: 5px;
      font-size: 20px;
      padding-left: 10px;
    }
    button[type='submit'] {
      background-color: rgb(204, 25, 106);
      border: none;
      border-radius: 5px;
      color: rgb(255, 255, 255);
      font-size: 15px;
      height: 30px;
      text-align: center;
      width: 100px;
    }
  }
}
.searched-results {
  .contents-container{
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 10px 20px;
    .contents {
      .content {
        border-top: 2px solid rgb(221, 221, 221);
        height: 65px;
        width: 100%;
        margin: auto 10px;
        .content__image {
          border-radius: 5px;
          height: 55px;
          width: 55px;
          background-color: purple;
          margin-top: 5px;
          display: inline-block;
          vertical-align: top;
        }
        .content__body {
          display: inline-block;
          vertical-align: top;
          margin: 8px 0 0 20px;
          .content__title {
            font-size: 25px;
          }
          .content__statement {
            border-radius: 3px;
            height: 25px;
            font-size: 15px;
            color: rgb(255, 255, 255);
            padding: 5px;
            a:visited {
              color: rgb(255, 255, 255);
            }
          }
        }
      }
      .content:first-child {
        border: none
      }
    }
  }
}

// showのstyle
.article {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: calc(90% - 40px);
  margin: 0 auto;
  padding: 20px;
  .article-header {
    .article-user__image {
      border-radius: 5px;
      height: 50px;
      width: 50px;
      display: inline-block;
      background-color: purple;
      display: inline-block;
      vertical-align: top;
    }
    .article__information {
      display: inline-block;
      height: 50px;
      vertical-align: top;
      margin-left: 10px;
      .article__user-name {
        font-size: 25px;
      }
      .article__updated-at {
        font-size: 15px;
      }
    }
    .article__header--right {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      float: right;
      form {
        display: inline-block;
        .article__stock-button {
          background-color: rgb(255, 255, 255);
          border: 2px solid rgb(221, 221, 221);
          border-radius: 10px;
          font-size: 13px;
          width: 100px;
          height: 40px;
        }
      }
      .article__edit-button {
        display: inline-block;
      }
      .article__delete-button {
        display: inline-block;
      }
    }
  }
  .article-main {
    .article__title {
      font-size: 40px;
      font-weight: bold;
      margin-top: 10px;
    }
    .article__body {
      font-size: 25px;
      margin-top: 30px;
    }
  }
  .article-footer {
    margin-top: 20px;
    .article__like-button {
      background-color: rgb(255, 255, 255);
      border: 2px solid rgb(221, 221, 221);
      border-radius: 10px;
      font-size: 15px;
      width: 90px;
      height: 30px;
    }
  }
}

.comments-container {
  width: 80%;
  margin: 0 auto;
  .comments {
    .comment {
      margin: 30px auto 10px;
      .comment-user {
        .comment-user__image {
          border-radius: 5px;
          height: 35px;
          width: 35px;
          background-color: purple;
          display: inline-block;
          margin-left: 10px;
          vertical-align: middle;
        }
        .comment-user__name {
          display: inline-block;
          font-size: 15px;
          font-weight: bold;
          vertical-align: middle;
        }
      }
      .comment--right {
        float: right;
        text-align: right;
        .comment__buttons {
          .comment__button {
            display: inline-block;
            font-size: 12px;
          }
        }
        .comment__updated-at {
          font-size: 12px;
        }
      }
      .comment-body {
        border: 1px solid rgb(221, 221, 221);
        border-radius: 5px;
        margin: 5px auto;
        padding: 10px 20px;
        .comment__sentence {
          font-size: 20px;
        }
      }
      .comment-footer {
        .comment__like-button {
          background-color: rgb(255, 255, 255);
          border: 2px solid rgb(221, 221, 221);
          border-radius: 10px;
          font-size: 15px;
          width: 90px;
          height: 30px;
        }
      }
    }
  }
  #comment-form {
    .comment {
      margin: 30px auto 10px;
      .comment-user {
        .comment-user__image {
          border-radius: 5px;
          height: 35px;
          width: 35px;
          background-color: purple;
          display: inline-block;
          margin-left: 10px;
          vertical-align: middle;
        }
        .comment-user__name {
          display: inline-block;
          font-size: 15px;
          font-weight: bold;
          vertical-align: middle;
        }
      }
      .comment-body {
        border: 1px solid rgb(221, 221, 221);
        border-radius: 5px;
        margin: 5px auto;
        padding: 20px;
        .comment__sentence {
          font-size: 25px;
          form {
            text-align: center;
            textarea {
              border: 2px solid rgb(221, 221, 221);
              border-radius: 5px;
              font-size: 15px;
              padding: 10px;
              width: calc(100% - 20px);
            }
            input[type='submit'] {
              background-color: rgb(204, 25, 106);
              border: 2px solid rgb(255, 255, 255);
              border-radius: 5px;
              color: rgb(255, 255, 255);
              display: inline-block;
              font-size: 15px;
              font-weight: bold;
              height: 30px;
              text-align:center;
              width: 150px;
            }
          }
        }
      }
    }
  }
}

// newのstyle
.article-editor {
  position: fixed;
  height: 100%;
  width: calc(100% - 20px);
  margin: 0 10px;
  .new_article {
    height: 100%;
    .article-editor__title {
      input {
        font-size: 20px;
        width: 100%;
        height: 36px;
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        box-sizing: border-box;
        padding-left: 10px
      }
    }
    .article-editor__tags {
      margin-top: 5px;
      input{
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 20px;
        width: 100%;
        height: 36px;
        padding-left: 10px
      }
    }
    .article-editor__bodies {
      height: calc(100% - 220px);
      margin: 5px 0 0;
      width: 100%;
      .article-editor__body {
        display: inline-block;
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        height: 100%;
        text-align: center;
        margin-right: 10px;
        vertical-align: top;
        width: calc(50% - 20px);
        textarea {
          border: none;
          border-radius: 5px;
          box-sizing: border-box;
          font-size: 20px;
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 10px;
        }
      }
      .article-editor__preview {
        display: inline-block;
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        font-size: 20px;
        height: calc(100% - 20px);
        overflow: scroll;
        vertical-align: top;
        padding: 10px;
        width: calc(50% - 20px);
        * {
          margin: 0;
        }
      }
    }
    .article-editor__submit {
      height: 60px;
      line-height: 60px;
      width: 100%;
      text-align: right;
      .article-editor__submit-button {
        background-color: rgb(204, 25, 106);
        border: none;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        height: 45px;
        width: 140px;
        margin-right: 60px;
      }
    }
  }
}

// editのstyle
.article-editor {
  position: fixed;
  height: 100%;
  width: calc(100% - 20px);
  margin: 0 10px;
  .edit_article {
    height: 100%;
    .article-editor__title {
      input {
        font-size: 20px;
        width: 100%;
        height: 36px;
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        box-sizing: border-box;
        padding-left: 10px
      }
    }
    .article-editor__tags {
      margin-top: 5px;
      input{
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 20px;
        width: 100%;
        height: 36px;
        padding-left: 10px
      }
    }
    .article-editor__bodies {
      height: calc(100% - 220px);
      margin: 5px 0 0;
      width: 100%;
      .article-editor__body {
        display: inline-block;
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        height: 100%;
        text-align: center;
        margin-right: 10px;
        vertical-align: top;
        width: calc(50% - 20px);
        textarea {
          border: none;
          border-radius: 5px;
          box-sizing: border-box;
          font-size: 20px;
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 10px;
        }
      }
      .article-editor__preview {
        display: inline-block;
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        font-size: 20px;
        height: calc(100% - 20px);
        overflow: scroll;
        vertical-align: top;
        padding: 10px;
        width: calc(50% - 20px);
        * {
          margin: 0;
        }
      }
    }
    .article-editor__submit {
      height: 60px;
      line-height: 60px;
      width: 100%;
      text-align: right;
      .article-editor__submit-button {
        background-color: rgb(204, 25, 106);
        border: none;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        height: 45px;
        width: 140px;
        margin-right: 60px;
      }
    }
  }
}
