// いいねボタンのstyle
.like-button {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  height: 30px;
  width: 90px;
}

// tabのstyle
.top-tabs {
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 100%;
  .top-tab {
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    margin: auto 40px;
    padding: 10px;
    vertical-align: middle;
  }
  .top-tab:hover {
    background-color: #c16;
    color: #fff;
  }
  .top-tab:visited {
    color: #000;
  }
}

// indexされたarticlesのstyle
.searched-article {
  border-top: 2px solid #ddd;
  height: 65px;
  margin: auto 10px;
  width: 100%;
  .searched-article__image {
    border-radius: 5px;
    background-color: purple;
    display: inline-block;
    height: 55px;
    vertical-align: middle;
    width: 55px;
  }
  .searched-article__body {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    .searched-article__body--header {
      font-size: 15px;
    }
    .searched-article__title {
      display: inline-block;
      font-size: 25px;
      vertical-align: middle;
    }
    .searched-article__statement {
      border-radius: 3px;
      display: inline-block;
      color: #fff;
      font-size: 15px;
      padding: 5px;
      vertical-align: middle;
      .searched-article__statement__link:visited {
        color: #fff;
      }
    }
  }
}
.searched-article:first-child {
  border: none
}

.nav-tabs {
    margin-bottom: 0;
    padding-left: 20px;
    .nav-link {
      margin-bottom: -2px;
    }
  }
  .tab-content {
    border: 2px solid #ddd;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    padding: 10px 20px;
  }
