// いいねボタンのstyle
.like-button {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  height: 30px;
  width: 90px;
}

// tabのstyle
.top-tabs {
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 100%;
  .top-tab {
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    margin: auto 40px;
    padding: 10px;
    vertical-align: middle;
  }
  .top-tab:hover {
    background-color: #c16;
    color: #fff;
  }
  .top-tab:visited {
    color: #000;
  }
}
