// いいねボタンのstyle
.like-button {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  height: 30px;
  width: 90px;
}

// tabのstyle
.top-tabs {
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 100%;
  .top-tab {
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    margin: auto 40px;
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
  }
  .top-tab:hover {
    background-color: #c16;
    color: #fff;
  }
}

// 検索フォームのstyle
.form-container {
  margin: 10px auto;
  .searching__form{
    text-align: center;
    width: 100%;
    .searching__keyword {
      height: 40px;
      border: 2px solid #ddd;
      border-radius: 5px;
      font-size: 20px;
      padding-left: 10px;
      width: 60%;
    }
    .searching__submit {
      background-color: #c16;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 15px;
      height: 30px;
      text-align: center;
      width: 100px;
    }
  }
}

// indexされたarticlesのstyle
.searched-article {
  height: 75px;
  border-top: 2px solid #ddd;
  .searched-article__image {
    border-radius: 5px;
    background-color: purple;
    float: left;
    height: 55px;
    margin: 10px 0;
    width: 55px;
  }
  .searched-article__body {
    float: left;
    height: 55px;
    margin: 10px 0 10px 20px;
    .searched-article__body--header {
      font-size: 15px;
    }
    .searched-article__username {
      float: left;
    }
    .searched-article__title {
      display: inline-block;
      font-size: 25px;
      vertical-align: middle;
    }
    .searched-article__statement {
      border-radius: 3px;
      display: inline-block;
      color: #fff;
      font-size: 15px;
      padding: 5px;
      vertical-align: middle;
      .searched-article__statement__link:visited {
        color: #fff;
      }
    }
  }
}
.searched-article:first-child {
  border: none
}

// indexされたuserのstyle
.group__member {
  height: 75px;
  line-height: 75px;
  border-top: 2px solid #ddd;
  .group__member__image {
    border-radius: 5px;
    display: inline-block;
    float: left;
    height: 55px;
    margin: 10px 0;
    width: 55px;
  }
  .group__member__name {
    float: left;
    font-size: 30px;
    margin-left: 20px;
  }
}
.group__member:first-child {
  border-top: none;
}


// bootstrapを使ったtabのstyle
.nav-tabs {
  margin-bottom: 0;
}
.tab-content {
  border: 2px solid #ddd;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
  padding: 10px 20px;
}

// userを検索した結果のstyle
.group__members {
  margin: 20px 25% 0;
  width: 50%;
  .group__member {
    .group__member__statement {
      float: right;
      margin-right: 20px;
      .edit_group {
        height: 75px;
        .group__member__change-manager-button {
          background-color: #c16;
          border: none;
          border-radius: 5px;
          color: #fff;
          font-size: 15px;
          height: 30px;
          line-height: 20px;
          padding: 5px 10px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
    .group__member__current-manager {
      font-size: 15px;
      font-weight: bold;
    }
  }
}

// paginatonに関するstyle
.pagination-container {
  text-align: center;
  .pagination {
    display: inline-block;
    .active {
      a {
        background-color: #c16;
        border-color: #c16;
      }
    }
    a {
      color: #000;
    }
    a:hover {
      color: #c16;
    }
  }
}
